* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	font-weight: 400;
	font-size: 16px;
}

/*
	Bar top
*/
.bar-top {
	display: flex;
	grid-column: 1 / -1;
	grid-row: 1;
	background-color: black;
	color: white;
}

.bar-top img {
	height: 65px;
	width: 145px;
}

.bar-top input {
	height: 40px;
	width: 191px;
	margin: 15px 0 15px 70px;
	padding: 5px;
	align-content: center;
	border: none;
	color: white;
	background-color: #868e96;
}

.bar-top button {
	height: 40px;
	width: 64px;
	margin: 15px 0;
	column-gap: 1px;
	border: none;
}

.search-icon {
	height: 40px;
	width: 64px;
	padding: 7.5px;
	cursor: pointer;
}

/*
	Artist list
*/

.artist-list {
	grid-column: 1;
	grid-row: 2;
	background-color: white;
	overflow: scroll;
	margin: 15px;
}

.artist-list p {
	margin: 15px;
}

.elem-list-artist {
	cursor: pointer;
	margin: 15px;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	
	border-width:1px;
	border-style:solid;
	border-color: #b8bdc1;
}

.elem-list-artist:hover {
	background-color: #f1f3f5;
}

.image-artist-album {
	height: 200px;
	width: 200px;
	margin: 15px;
}

/*
	Artist list album
*/

.artist-list-albums {
	grid-column: 2;
	grid-row: 2;
	background-color: white;
	overflow: scroll;
	margin: 15px;
}

.artist-list-albums p {
	margin: 15px;
}


.elem-list-albums {
	cursor: pointer;
	margin: 15px;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	
	border-width:1px;
	border-style:solid;
	border-color: #b8bdc1;
}

.elem-list-albums:hover {
	background-color: #f1f3f5;
}

/*
	Song album
*/

.list-tracks-album {
	grid-column: 3;
	grid-row: 2;
	margin: 15px;
	
	overflow: scroll;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	
	border-width:1px;
	border-style:solid;
	border-color: #b8bdc1;
}

.list-tracks-album p {
	margin: 15px;
}


/*
	Interface
*/

#interface {
	display: grid;
	grid-template-columns: 300px 300px 1fr;
	grid-template-rows: 70px 600px;
}
